

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: linear-gradient(to right, #00AAFF 10%, #00ffb3);
    
}

.calculator-grid{
    display: grid;
    margin-top: 2rem;
    justify-content: center;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.span-two{
    grid-column: span 2;
}

.calculator-grid > button{
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer !important;
    font-size: 2rem !important;
    border: solid 1px;
}

.calculator-grid > button:hover, .calculator-grid > button:focus{
    background-color: rgba(255, 255, 255, 0.9);
}

.output{
    grid-column: 1 /-1;
    background-color: rgb(0,0,0,80%);
    border: solid 1px;
    border-bottom: 0;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px;
    display: flex !important;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 0.75rem;
    word-wrap: break-word;
    word-break: break-all;

}

.previous-operand{
    color:rgba(255,255,255,0.80);
    font-size: 1.25rem;
}

.current-operand{
    color: white;
    font-size: 2.5rem;
}